@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
/* 나눔고딕(글자) : font-family: 'Dosis', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap");
/* DynaPuff(숫자) : font-family: 'DynaPuff', cursive; */

:root {
  /* color */
  --main-color: #796652;
}

body {
  margin: 0; /* 스크린 크기와 상관없이 화면에 꽉차게 fix 가능 */
  height: 100vh;
  width: 100vw;
  background-image: url("img/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "DynaPuff", cursive;
}

/* login-form */
.login-form {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "DynaPuff", cursive;
}

.login-form input {
  background: transparent;
  border: none;
  border-bottom: 3px solid var(--main-color);
  width: 400px;
  height: 60px;
  text-align: center;
  font-size: 40px;
  color: var(--main-color);
  font-family: "DynaPuff", cursive;
}
.login-form input:focus {
  outline: none;
}
.login-form input::placeholder {
  color: var(--main-color);
  font-family: "DynaPuff", cursive;
}
.login-form button {
  width: 150px;
  height: 30px;
  border-radius: 7px;
  margin-top: 25px;
  padding: 10px, 5px;
  border: none;
  font-size: 20px;
  background-color: var(--main-color);
  font-family: "DynaPuff", cursive;
  color: white;
}
.hidden {
  transition: all 1.5s ease-in-out;
  opacity: 0;
}
.remove {
  display: none;
}

/* greetings */
#greetings {
  font-size: 60px;
  position: relative;
  left: 100px;
}

/* 추가검토!!! google 검색 바로 할 수 있는 칸 만들기 */
#main {
  width: 950px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  left: 100px;
}

.main-content {
  width: 350px;
  height: 450px;
}
.main-background {
  width: 350px;
  height: 450px;
  background-color: white;
  opacity: 0.6;
  border-radius: 15px;
  position: absolute;
}

/* first-column contains clock, weather API, fortune-teller functions */
.first-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#clock {
  margin-top: 70px;
  font-size: 50px;
  z-index: 2;
}

#weather {
  width: 300px;
  height: 80px;
  background-color: red;
  z-index: 2;
}

#fourtune-teller {
  width: 300px;
  height: 130px;
  margin-bottom: 50px;
  background-color: blue;
  z-index: 2;
}

/* second-column contains To-do lists */
.second-column {
  position: relative;
}

.second-column i {
  position: absolute;
  top: -18px;
  left: 10px;
}
.to-do-lists {
}

/* banners contains links of github, tstory-blog, nomadcoder-academy, */
.banners {
  width: 200px;
  height: 450px;
  background-color: white;
  opacity: 0.6;
  border-radius: 15px;
}
